<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Codility Presentation</title>

  <meta name="description" content="Codility presentation template">
  <meta name="author" content="Hakim El Hattab">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

  <link rel="stylesheet" href="css/reveal.css">
  <link rel="stylesheet" href="css/theme/codility.css" id="theme">

  <!-- Code syntax highlighting -->
  <link rel="stylesheet" href="lib/css/zenburn.css">

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName('head')[0].appendChild(link);
  </script>

  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

<div class="reveal">

  <!-- Any section element inside of this container is displayed as a slide -->
  <!-- Visit http://lab.hakim.se/reveal-js/ for examples of slides -->
  <div class="slides">
    <section>
      <h2>Initial data<br>for<br>React components</h2>
      <h4 style="color: #07A2F4">and the concept of <i>data bags</i></h4>
      <p>
        <small>Paweł Sierszeń<br/>paul@codility.com</small>
      </p>
    </section>

    <section class="color-group-first">
      <section class="c-title-slide">
        <h2>Example use case</h2>
        <p>A list of items, loaded from the backend.<br/>Quite static. Different between users.</p>
        <img src="img/task_list.png">
      </section>
      <section>
        <h2>Best solution: server side rendering</h2>

        <h3>Might be hard.<br/>No, our backend is not node.js ;)</h3>
      </section>
    </section>
    <section class="color-group-second">
      <section class="c-title-slide">
        <h2>so let's just use AJAX!</h2>
      </section>
      <section>
        <h2>Result</h2>
        <img src="img/spin.svg" style="border: none; background: none; box-shadow: none;"/>
        <p>(blank page, loaders, placeholders)</p>
      </section>
    </section>
    <section class="color-group-third">
      <section class="c-title-slide">
        <h2>Let's make it synchronous!</h2>
      </section>
      <section>
        <h2 class="color-codility-third">How about this?</h2>
        <pre><code class="hljs html">// task_list.html
<div id="task-list"></div>
<script>var tasks = {{ task_info_list|jsonify }};
  ReactDOM.render(
    React.createElement(TaskList, {
        tasks: tasks,
        showUpload: {{user.can_see_upload_tasks|jsonify}}
    }),
    document.getElementById('task-list'));
</script>
        </code></pre>
      </section>
      <section>
        <h2>Oh, quite horrible.</h2>
        <ul>
          <li>Everything is <span class="colored">global</span>.</li>
          <li>Django templates in JS in HTML. <span class="colored">Inception</span>.</li>
          <li>No way to <span class="colored">unit-test</span> this snippet.</li>
          <li>Potential <span class="colored">XSS</span> issues.</li>
          <li><span class="colored">Content-Security-Policy</span>? Not really.</li>
          <li>Limited to <span class="colored">ES5</span>.</li>
        </ul>
        <h4 style="margin-top: 1em">Can we do better?</h4>
      </section>
    </section>
    <section class="color-group-fourth">
      <section class="c-title-slide">
        <h2>Data bags!</h2>
      </section>
      <section>
        <h2>Pass data to application/json script</h2>

        <pre><code class="hljs python">// task_list.py view
data = { 'tasks': tasks, 'show_upload': user.can_see_upload }
return { 'task_list_data': data }</code></pre>

        <pre><code class="hljs html">// task_list.html
{% load data_bag %}
<div id="task-list"></div>
{% data_bag "task-list" task_list_data %}</code></pre>
<h5>Generated HTML:</h5>
<pre><code class="hljs html"><script id="data-bag-task-list" type="application/json">
  { "tasks": [...], "showUpload": true }
</script>
</code></pre>
      </section>
      <section>
<h2>Then, get the data in JS</h2>
<pre><code class="hljs javascript">// task-list.js
import getDataBag from 'utils/get-data-bag';
const target = document.getElementById('task-list');
if (target) {
  const settings = getDataBag('task-list');
  // ...create & mount the component
}</code></pre>
      </section>
    </section>
    <section class="color-group-fifth">
      <section class="c-title-slide">
        <h2>Let's go a step further</h2>
      </section>
      <section>
        <h2>Default data bag</h2>
        <h3>js context</h3>

        <pre><code class="hljs html">// base_template.html
{% load data_bag %}
{% data_bag "context" js_context %}</code></pre>

<pre><code class="hljs html">// generated html
<script id="data-bag-context" type="application/json">{
  "tasks": [...], "showUpload": true }
</script></code></pre>

        <p><i>Context</i> exists in each page. Might be empty.</p>

      </section>
      <section>
        <h2>Backend view</h2>
        <pre><code class="hljs python"># task_list.py view
data = { 'tasks': tasks, 'show_upload': user.can_see_upload }
js_context = { 'taskList': data }
return { 'js_context': js_context }</code></pre>

<h2>React component</h2>
<pre><code class="hljs javascript">// task-list.js
import context from 'context';
const settings = context.taskList;
if (settings) {
  // ...mount the component
}</code></pre>
      </section>
      <section>
        <h3>Simple &amp; no mess with html!</h3>
      </section>
    </section>

    <section data-background="https://farm1.staticflickr.com/544/19758248349_6d1442ecdd_b.jpg">
      <h2>Thank you!</h2>
      <h3><a href="https://twitter.com/PawelSierszen">@PawelSierszen</a> paul@codility.com</h3>
    </section>

  </div>

  <a class="c-codility-logo" href="http://codility.com"></a>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>

<script>

  // Full list of configuration options available at:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
                      controls: true,
                      progress: true,
                      history: true,
                      center: true,

                      transition: 'zoom', // none/fade/slide/convex/concave/zoom

                      // Optional reveal.js plugins
                      dependencies: [
                        {
                          src: 'lib/js/classList.js', condition: function () {
                          return !document.body.classList;
                        }
                        },
                        {
                          src: 'plugin/markdown/marked.js', condition: function () {
                          return !!document.querySelector('[data-markdown]');
                        }
                        },
                        {
                          src: 'plugin/markdown/markdown.js', condition: function () {
                          return !!document.querySelector('[data-markdown]');
                        }
                        },
                        {
                          src: 'plugin/highlight/highlight.js', async: true, callback: function () {
                          hljs.initHighlightingOnLoad();
                        }
                        },
                        {src: 'plugin/zoom-js/zoom.js', async: true},
                        {src: 'plugin/notes/notes.js', async: true}
                      ]
                    });

var COLORS = ['#07A2F4','#87EE87', '#FFEB40', '#FF644C', '#FF689C'];

// TODO: find a non-complicated way to the same in CSS?
Reveal.addEventListener( 'slidechanged', function( event ) {
    // event.previousSlide, event.currentSlide, event.indexh, event.indexv
  var $ = document.querySelectorAll.bind(document);
  var slide = event.currentSlide;
  // Add the .invert class to .reveal for title slides
  var classList = $('.reveal')[0].classList;
  if (slide.classList.contains('c-title-slide')) {
    classList.add('invert');
  } else {
    classList.remove('invert');
  }

  function getColor(classList) {
    if (classList.contains('color-group-first')) {
      return COLORS[0]
    }
    if (classList.contains('color-group-second')) {
      return COLORS[1]
    }
    if (classList.contains('color-group-third')) {
      return COLORS[2];
    }
    if (classList.contains('color-group-fourth')) {
      return COLORS[3];
    }
    if (classList.contains('color-group-fifth')) {
      return COLORS[4];
    }
  }

  // Handle section colors on elements outside of the slide
  // (yeah, setTimeout - see https://github.com/hakimel/reveal.js/issues/1254)
  setTimeout(function () {
    var color = getColor(slide.classList) || getColor(slide.parentElement.classList);
    $('.progress span')[0].style.background = color || '';
    var controls = $('.controls button'),
      el;
    for (var i = 0; i < controls.length; i += 1) {
      el = controls[i];
      var borderColor = (el.classList.contains('enabled') && color) ? color : '';
      if (el.classList.contains('navigate-left')) {
        el.style['border-right-color'] = borderColor;
      } else if (el.classList.contains('navigate-right')) {
        el.style['border-left-color'] = borderColor;
      } else if (el.classList.contains('navigate-up')) {
        el.style['border-bottom-color'] = borderColor;
      } else if (el.classList.contains('navigate-down')) {
        el.style['border-top-color'] = borderColor;
      }
    }
  },0);
} );

</script>

</body>
</html>
